/* Reset and background */
body {
    margin: 0;
    padding: 0;
    background-image: url('todo.jpg');
    background-size: 100%; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    font-family: Arial, sans-serif; /* Adds a clean font for better readability */
    color: #8A48D1;
  }
.container {
    width: 100%;
    max-width: 500px;
    background: whitesmoke; 
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px #229ecb;
    box-sizing: border-box;
    border: 2px solid #0f0778;
    color: white;
    margin: 50px auto;
    transition: transform 0.2s;
}

/* Title */
h2 {
    /* text-align: center;
    color: #333;
    margin-bottom: 10px; */
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #0f0778;
    text-align: center;

}

/* Clock */
.time {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    color: #1229da;
}

/* Input area */
.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input {
    flex: 1;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.task-input:focus {
    border-color: #5b9bd5;
    box-shadow: 0 0 5px rgba(91, 155, 213, 0.5);
}

.add-btn {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #5b9bd5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
}

.add-btn:hover {
    background-color: #417cbf;
    box-shadow: 0 4px 10px rgba(91, 155, 213, 0.3);
}

/* Task section */
.task-section {
    margin-top: 20px;
}

.date-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

/* Task box */
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  white;
    margin-bottom: 8px;
    padding: 10px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s;
}

.task:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.task span {
    color: #1229da;
    font-weight: bold;
    font-weight: 500px;
}

.task.completed span {
    color: #6c757d; /* gray for completed */
    text-decoration: line-through;
}

/* Checkbox and delete button */
.checkbox {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}